html[class~='light'] {
  --title-color: rgb(105, 105, 105);
  --body-color: #161616;
  --color-primary: rgb(226, 0, 0);
  --button-primary: rgb(12, 12, 12);
  --enable-particles: 0;
  --highlight-color: #ececec;
  --background-color: white;
  --title-color: black;
  --main-title-color: var(--title-color);
}

html[class~='dark'] {
    --title-color: rgb(105, 105, 105);
    --body-color: #b8b8b8;
    --color-primary: rgba(143, 0, 0, 1);
    --button-primary: rgba(143, 0, 0, 1);
    --enable-particles: 0;
    --highlight-color: #494949;
    --background-color: #111111;
    --title-color: white;
    --main-title-color: var(--title-color);
  }

  .bg-text {
    position: absolute;
    opacity: 0.05;
    font-size: 4rem;
    font-weight: normal;
    line-height: .75em;
    white-space: pre-line;
    z-index: -1;
    height: 100%;
    word-wrap: break-word;
    line-break: anywhere;
    overflow: hidden;
  }

  .bg-memories {
    overflow: hidden;
    padding: 1em;
  }

  a.white {
    color: rgba(255, 23, 23, 1);
  }

  .button.primary {
    --button-border: var(--button-primary);
    --button-background: var(--button-primary);
    --buton-color: white;
    --button-highlight: var(--button-primary);
  }

  .button.transparent {
    --button-border: transparent;
    --button-color: #dcdcdc;
    --button-highlight: transparent;
    text-decoration: underline;
  }
  .button.outline {
    --button-border: var(--button-primary);
    --button-background: transparent;
    --buton-color:  var(--button-primary);
  }
  /*css resets*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    color: var(--body-color);
    font-family: sans-serif;
  }

  .flex {
    display: flex;
    gap: 4rem;
    left: 0;
    flex-wrap: wrap;
  }
  .flex.left {
    justify-content: left;
  }
  .flex.right {
    justify-content: right;
  }
  .flex-image {
    flex-basis: 800px;
  }
  .flex-2 {
    flex-basis: 350px;
    text-align: left;
    padding: 1em;
  }

  .content {
    padding-top: 10rem;
    text-align: center;
  }
  a {
    color: #198eff;
  }
  h1.title,
  h2.title {
    color: var(--title-color);
  }

  h1.title {
    font-size: max(48px,min(5vw,76px)) !important;
    text-transform: uppercase;
  }
  h2.title {
    font-size: 2rem !important;
    font-weight: bold;
  }
  p.text {
    color: var(--body-color);
  }

  .button {
    font-weight: 500;
    border-radius: .5rem;
    padding: 0.5em 1em 0.5em 1em;
    background-color: transparent;
    cursor: pointer;
    box-shadow: none;
    border: 2px solid var(--button-border);
    background-color: var(--button-background);
    color: var(--buton-color);
    border: 2px solid var(--button-border);
  }
  
  .gradient-border,
  .card {
    padding: 0.5rem 1rem;
    position: relative;
    background-color: var(--background-color);
    background-clip: padding-box;
    border: 5px solid transparent;
  }
  .logo--small {
    font-weight: bold;
    color: var(--title-color);
    display: flex;
    gap: .5rem;
    align-items: center;
  }
  .button:hover {
    /* outline: 2px solid var(--button-highlight); Border bottom */
    box-shadow: 0px 0px 1px 1px var(--button-highlight); /* Border bottom */
  }
  /**hero spacing**/
  .hero--section-buttons {
    margin-top: 2rem;
    display: flex;
    gap: .5rem;
    justify-content: center;
  }

  img.wide {
    max-width: 100%;
  }

  @media (max-width: 1000px) {
    .hero::before {
      display: none;
    }
  }
  @keyframes glow {
    0% {
      box-shadow: 0 0 20px 10px rgba(255, 23, 23, min(0.25, var(--enable-particles)));
    }
    50% {
      box-shadow: 0 0 20px 10px rgba(255, 23, 23, min(0.1, var(--enable-particles)));
      opacity: 0.3;
    }
    100% {
      box-shadow: 0 0 20px 10px rgba(255, 23, 23, min(0.25, var(--enable-particles)));
    }
  }
  .hero {
    margin: 0 auto;
    flex-direction: column;
    padding: 1rem;
  }

  .card {
    padding: 2em;
    border-radius: .5rem;
    border: 1px solid var(--highlight-color);
    background-color: var(--background-color);

    min-height: 100px;
    flex-basis: 300px;
    text-align: left;
  }
  .card p {
    line-height: 1.5em;
  }
  .cards {
    flex-wrap: wrap;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  .section {
    max-width: 1250px;
    margin: 0 auto;
    margin-bottom: 10rem;
  }
  b {
    color: var(--title-color);
    font-weight: normal;
  }
  .border {
    max-width: 200px;
    margin: 0 auto;
    border: none;
    box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.7);

    border-radius: 100%;
  }
  .faq {
    max-width: 700px;
    margin: 0 auto;
  }
  /**FAQ Styles**/
  .faq_header-title {
    font-size: 24px;
    color: var(--title-color);
    margin-bottom: 30px;
  }
  .faq__panel {
    padding: 7px 21px;
    margin-bottom: 0.5rem;
    border: 1px solid var(--highlight-color);
    background-color: var(--background-color);
    border-radius: 7px;
    text-align: left;
  }
  .faq__label {
    padding-block: 7px;
    color: var(--body-color);
    font-weight: 500;
    cursor: pointer;
  }
  .faq__panel-answer {
    color: #777e91;
    padding-top: 5px;
    padding-bottom: 7px;
  }
  .label {
    font-weight: bold;
    margin: 0 auto;
    font-size: max(48px,min(5vw,76px));
    background-position: left center; /* Add this line */
  }
  .mt-extra {
    margin-top: 20rem;
  }
.section--inner {
  padding-top: 1em;
}
  .full {
    max-width: 100%;
  }
  img.rounded {
    border-radius: 10px;
  }

  #dashboard {
    aspect-ratio: 1000/450;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 2rem;
    max-height: 450px;
    border-radius: 1rem;
    position: relative;
    background: url("./dashboard.png") center center no-repeat;
    background-size: cover;
  }

  #dashboard::after {
    content: "";
    border-radius: 1rem;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .box {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .box-item {
    flex: 1;
    padding: 1em;
  }

  #cta {
    gap: 1rem;
  }
  footer.center {
    text-align: center;
  }