@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    padding: 0;
}

#characters {
    background-color: #eeeeee;
    border-radius: 1em;
    padding: 1em;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

.count {
    width: 40px;
}

canvas {
    display: block;
}

.container {
    padding: 1em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-wrap: wrap;
    max-width: 800px;
}

p,
b {
    line-height: 0.25em;
    font-family: sans-serif;
}

button {
    cursor: pointer;
}

#debug {
    position: absolute;
    z-index: 1;
    background-color: black;
    right: 0;
    top: 0;
    color: white;
    width: 200px;
}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
}

.modal {
    box-sizing: border-box;
    background-color: #eeeeee;
    border-radius: 1em;
    padding: 1em;
    width: 95%;
    height: 95%;
    border-radius: 10px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.display-none {
    display: none;
}