<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smallvile | Admin</title>
    <style>
        th,
        td {
            border: none;
            padding: .25em;
            box-sizing: border-box;
        }
        table {
            background-color: #eeeeee;
        }
    </style>
</head>

<body>
    <h1>Memory Stream</h1>
    <table>
        <tr>
            <th>Time</th>
            <th>Type</th>
            <th>Importance</th>
            <th>Description</th>
        </tr>
        {{#memories}}
        <tr>
            <td>{{time}}</td>
            <td>{{type}}</td>
            <td>{{importance}}</td>
            <td>{{description}}</td>
        </tr>
        {{/memories}}
    </table>
    <h1>Plans</h1>
</body>

</html>