<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smallvile | Admin</title>
    <style>
        th,
        td {
            border: 1px solid black;
        }
        table {
            background-color: #eeeeee;
        }
    </style>
</head>

<body>
	<h1>Agents</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Action</th>
            <th>Location</th>
            <th>Object</th>
            <th>Emoji</th>
        </tr>
        {{#agents}}
        <tr>
            <td><a href="/dashboard/{{{name}}}">{{name}}</td>
            <td>{{action}}</td>
            <td>{{location}}</td>
            <td>{{object}}</td>
            <td>{{emoji}}</td>
        </tr>
        {{/agents}}        
    </table>
    
        <h1>Objects</h1>
    
        <table>
        <tr>
            <th>Name</th>
            <th>State</th>
        </tr>
        {{#objects}}
        <tr>
            <td>{{name}}</td>
            <td>{{state}}</td>
        </tr>
        {{/objects}}
    </table>
</body>

</html>